<div class="container">
    <div class="inspiration">
<div class="row">
<div class="col-md-5">
    
    
<div class="pre-heading">
    <h1> inspire by inspiration</h1>

   
</div>
<h2 class="sec-heading">
    Simple to use for your app, products showcase and your inspiration
</h2>

<p class="para">Lorem idivsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum. Donec rutrum sed sem quis venenatis. Proin viverra risus a eros volutpat tempor. In quis arcu et eros porta lobortis sit </p>
<app-icon [iconarray]="iconlistarray"></app-icon>

</div>


<div class="col-md-5 offset-md-2">
    <div class="ipadlogo">
        <img src="../../assets/images/iPad Mini White facing.png" alt="ipad" title="ipad">
    </div>

</div> 



</div>
</div>
</div>