<section class="footer section">
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1 text-centre">
                <h1 class="pre-heading">Tinyone features</h1>
                <h2 class="sec-heading">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum. Donec rutrum sed sem quis venenatis.
                </h2>

                <form class="form-inline ">
                    <label class="sr-only" for="inlineFormInputName2">Name</label>
                    <input type="text" class="form-control mb-2 mr-sm-2 email" id="inlineFormInputName2" placeholder="Enter email to update">

                    <button type="submit" class="btn btn-warning ">Submit</button>
                  </form>
                  

                  <app-icon  [iconarray]="iconarray"></app-icon>
                  
               </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <address class="addresss">
                        <p>HALOVIETNAM LTD</p>
                        <p>66, Dang Van ngu, Dong Da</p>
                        <p>Hanoi, Vietnam</p>
                        <p>
                            <a href="miltorav@gmail.to">contact@halovietnam.com</a>
                        </p>
                        <p>
                            <a href="+844 35149182">+844 35149182</a>
                        </p>
                    </address>
                </div>
                <div class="col-md-1 offset-md-1" *ngFor="let footer of footerlink ">
                    <app-icon [ulclassname]="'footerlink'"[iconarray]="footer"></app-icon>
                </div>
            </div>
</div>
   

</section>
